<section class="sectionForm wrapper">
	    <div class="sectionForm__flex">
	      <h2 class="sectionForm__h">
	        Join Now
	      </h2>
	      <form action="#" method="POST" class="sectionForm__form">
	        <p>
	          <label>
	            &nbsp;&nbsp;First name <br />
	            <input
	              type="text"
	              class="sectionForm__form_input"
	              placeholder="First name"
	            />
	          </label>
	        </p>
	        <p>
	          <label>
	            &nbsp;&nbsp;Last name <br />
	            <input
	              type="text"
	              class="sectionForm__form_input"
	              placeholder="Last name"
	            />
	          </label>
	        </p>
	        <p>
	          <label>
	            &nbsp;&nbsp;Email <br />
	            <input
	              type="email"
	              class="sectionForm__form_input"
	              placeholder="Email"
	            />
	          </label>
	        </p>
	        <button class="sectionForm__form_button btnSignUp">Sign UP</button>
	        <button class="sectionForm__form_buttonInsta btnInsta">
	          Sign UP via Instagram
	        </button>
	      </form>
	    </div>
  </section>